langchain-core
langchain-community
langchain
openai-whisper
pytube
torch
ollama
chromadb
beautifulsoup4
pypdf
unstructured
python-magic
python-pptx
openpyxl
pandas
xlrd
unstructured[all-docs]
cryptography
httpx